
.spaceAbove{
   padding-top:50px
}


canvas{
  border: 1px solid black;
}
body{
  margin:0;
  padding:0;
}

.jumbotron{
    background-color:#2C8E9B;
    color:white;
    padding-left: 50px;
}
/* Adds borders for tabs */


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}


.btn{
     font-family: "Arial Bold", Gadget, sans-serif;
     font-style: normal;
     font-size: 15px ! important; //to make fontsize bigger
  }


.button-wrapper .btn {
    margin-bottom:5px;
  }

.hidden{
  opacity: 0;
}

body {
  padding: 50px;
}
